PM1Official/src/conf/xml-resources/web-service-references/WSCATServiceService/wsdl/localhost_8080/PM1Official/WSCATServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.wscat.soen487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.wscat.soen487/" name="WSCATServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.wscat.soen487/" schemaLocation="http://localhost:8080/PM1Official/WSCATServiceService?xsd=1"/>
</xsd:schema>
</types>
<message name="trainOnURI">
<part name="parameters" element="tns:trainOnURI"/>
</message>
<message name="trainOnURIResponse">
<part name="parameters" element="tns:trainOnURIResponse"/>
</message>
<message name="ParserConfigurationException">
<part name="fault" element="tns:ParserConfigurationException"/>
</message>
<message name="SAXException">
<part name="fault" element="tns:SAXException"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="InterruptedException">
<part name="fault" element="tns:InterruptedException"/>
</message>
<message name="trainOnWSDL">
<part name="parameters" element="tns:trainOnWSDL"/>
</message>
<message name="trainOnWSDLResponse">
<part name="parameters" element="tns:trainOnWSDLResponse"/>
</message>
<message name="submitWSDLRepo">
<part name="parameters" element="tns:submitWSDLRepo"/>
</message>
<message name="submitWSDLRepoResponse">
<part name="parameters" element="tns:submitWSDLRepoResponse"/>
</message>
<message name="submitWSDLToAnalyze">
<part name="parameters" element="tns:submitWSDLToAnalyze"/>
</message>
<message name="submitWSDLToAnalyzeResponse">
<part name="parameters" element="tns:submitWSDLToAnalyzeResponse"/>
</message>
<portType name="WSCATService">
<operation name="trainOnURI">
<input wsam:Action="http://services.wscat.soen487/WSCATService/trainOnURIRequest" message="tns:trainOnURI"/>
<output wsam:Action="http://services.wscat.soen487/WSCATService/trainOnURIResponse" message="tns:trainOnURIResponse"/>
<fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnURI/Fault/ParserConfigurationException"/>
<fault message="tns:SAXException" name="SAXException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnURI/Fault/SAXException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnURI/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnURI/Fault/InterruptedException"/>
</operation>
<operation name="trainOnWSDL">
<input wsam:Action="http://services.wscat.soen487/WSCATService/trainOnWSDLRequest" message="tns:trainOnWSDL"/>
<output wsam:Action="http://services.wscat.soen487/WSCATService/trainOnWSDLResponse" message="tns:trainOnWSDLResponse"/>
<fault message="tns:ParserConfigurationException" name="ParserConfigurationException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnWSDL/Fault/ParserConfigurationException"/>
<fault message="tns:SAXException" name="SAXException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnWSDL/Fault/SAXException"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnWSDL/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://services.wscat.soen487/WSCATService/trainOnWSDL/Fault/InterruptedException"/>
</operation>
<operation name="submitWSDLRepo">
<input wsam:Action="http://services.wscat.soen487/WSCATService/submitWSDLRepoRequest" message="tns:submitWSDLRepo"/>
<output wsam:Action="http://services.wscat.soen487/WSCATService/submitWSDLRepoResponse" message="tns:submitWSDLRepoResponse"/>
</operation>
<operation name="submitWSDLToAnalyze">
<input wsam:Action="http://services.wscat.soen487/WSCATService/submitWSDLToAnalyzeRequest" message="tns:submitWSDLToAnalyze"/>
<output wsam:Action="http://services.wscat.soen487/WSCATService/submitWSDLToAnalyzeResponse" message="tns:submitWSDLToAnalyzeResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://services.wscat.soen487/WSCATService/submitWSDLToAnalyze/Fault/IOException"/>
<fault message="tns:InterruptedException" name="InterruptedException" wsam:Action="http://services.wscat.soen487/WSCATService/submitWSDLToAnalyze/Fault/InterruptedException"/>
</operation>
</portType>
<binding name="WSCATServicePortBinding" type="tns:WSCATService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="trainOnURI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParserConfigurationException">
<soap:fault name="ParserConfigurationException" use="literal"/>
</fault>
<fault name="SAXException">
<soap:fault name="SAXException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="trainOnWSDL">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParserConfigurationException">
<soap:fault name="ParserConfigurationException" use="literal"/>
</fault>
<fault name="SAXException">
<soap:fault name="SAXException" use="literal"/>
</fault>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
<operation name="submitWSDLRepo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="submitWSDLToAnalyze">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="InterruptedException">
<soap:fault name="InterruptedException" use="literal"/>
</fault>
</operation>
</binding>
<service name="WSCATServiceService">
<port name="WSCATServicePort" binding="tns:WSCATServicePortBinding">
<soap:address location="http://localhost:8080/PM1Official/WSCATServiceService"/>
</port>
</service>
</definitions>