PM1Official/src/conf/xml-resources/web-service-references/WSCATServiceService/wsdl/localhost_8080/PM1Official/WSCATServiceService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.wscat.soen487/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.wscat.soen487/">

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="InterruptedException" type="tns:InterruptedException"/>

<xs:element name="ParserConfigurationException" type="tns:ParserConfigurationException"/>

<xs:element name="SAXException" type="tns:SAXException"/>

<xs:element name="submitWSDLRepo" type="tns:submitWSDLRepo"/>

<xs:element name="submitWSDLRepoResponse" type="tns:submitWSDLRepoResponse"/>

<xs:element name="submitWSDLToAnalyze" type="tns:submitWSDLToAnalyze"/>

<xs:element name="submitWSDLToAnalyzeResponse" type="tns:submitWSDLToAnalyzeResponse"/>

<xs:element name="trainOnURI" type="tns:trainOnURI"/>

<xs:element name="trainOnURIResponse" type="tns:trainOnURIResponse"/>

<xs:element name="trainOnWSDL" type="tns:trainOnWSDL"/>

<xs:element name="trainOnWSDLResponse" type="tns:trainOnWSDLResponse"/>

<xs:complexType name="submitWSDLRepo">
<xs:sequence>
<xs:element name="repoURI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitWSDLRepoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainOnURI">
<xs:sequence>
<xs:element name="URI" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainOnURIResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ParserConfigurationException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SAXException">
<xs:sequence>
<xs:element name="exception" type="tns:exception" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="exception">
<xs:complexContent>
<xs:extension base="tns:throwable">
<xs:sequence/>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InterruptedException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitWSDLToAnalyze">
<xs:sequence>
<xs:element name="wsdlFile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitWSDLToAnalyzeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainOnWSDL">
<xs:sequence>
<xs:element name="wsdlFile" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="trainOnWSDLResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>